.table-container {
  overflow-x: auto;

  table {
    width              : 100%;
    border-radius      : 7px;
    font-family        : 'Montserrat';
    // margin-top      : 10px;
    background-color   : transparent;

    tr.mat-header-row {
      height: 41px;
    }

    th.mat-header-cell:last-of-type {
      padding-right                : 0;
      // border-bottom-right-radius: 7px;
      border-top-right-radius      : 7px;
    }

    th.mat-header-cell:first-of-type {
      padding-left                : 0;
      border-top-left-radius      : 7px;
      // border-bottom-left-radius: 7px;
    }

    td.mat-cell:first-of-type {
      padding-left: 0;
    }

    td.mat-cell:last-of-type {
      padding-right: 0;
    }

    // thead {
    //   // transform: translateY(-20px);
    // }
    tbody {
      background-color: white;
      box-shadow      : 0 0 0 1px #d3d3d3;
      border-radius   : 10px;

      // tr:first-child td:first-child {
      //   // border-top-left-radius: 10px;
      // }

      // tr:first-child td:last-child {
      //   // border-top-right-radius: 10px;
      // }

      // tr:last-child td:first-child {
      //   // border-bottom-left-radius: 10px;
      // }

      // tr:last-child td:last-child {
      //   // border-bottom-right-radius: 10px;
      // }
    }

    th {
      background-color: var(--main-color);
      color           : white;
      font            : normal normal bold 14px/16px Arial;
      letter-spacing  : -0.49px;
      opacity         : 1;

      // text-align: left;
      // padding: 0 15px;
      // &:first-child{
      //     text-align: center;
      //     padding: 0;
      // }
      text-align: center;
    }

    td {
      text-align: center;
      color     : rgb(10, 10, 10);
      padding   : .2em 0;

      .edit {
        font-weight: bold;
        color      : #35d1b5;
      }

      .delete {
        font-weight: bold;
        color      : #f44336;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: #f8f9fb;
      }
    }
  }

  @media screen and (max-width: 991px) {
    td {
      text-align: center;
      min-width : 100px;
      padding   : 0 15px !important;

      &:first-child {
        min-width: 15px;
      }

      .status {
        height: auto !important;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .table-container table th {
    background-color: #1d748b;
    color           : white;
    letter-spacing  : -0.49px;
    opacity         : 1;
    font-family     : 'Montserrat';
    font-size       : 14px;
    font-weight     : bold;
    text-align      : center;
  }
}