.header-container {
    margin: auto;
    max-width: 95%;
    background-color: var(--main-color);
    color: var(--second-color);
    padding: 1em;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    a {
        color: var(--second-color);
        margin-right: 15px;
    }

    .title-wrap {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
    }

    .button-wrap {
        display: flex;
        gap: 1em;

        button {
            background-color: #fff;
            color: #000;

            mat-icon {
                margin-right: 10px;
                color: #000;
            }

            &:disabled {
                color: gray;

                mat-icon {
                    color: #001725;
                }
            }
        }
    }
}

.form-section {
    padding: 3rem;

    form {
        max-width: 80%;
        margin: 0 auto;

        .inputs {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .title-input {
                width: 45%;
                margin: .5rem;
            }

            .category-select {
                width: 45%;
            }

            mat-form-field {
                width: 100%;
            }

            .mat-error {
                margin-top: -20px;
                margin-bottom: 20px;
               
            }

            .ckeditor {
                width: 100%;
            }

        }
    }
}

.rfc-span {
    color: rgb(110, 110, 110);
}

@media (max-width: 768px) {


    .header-container {
        flex-direction: column;

        .title-wrap {
            align-self: stretch;
            justify-content: space-between;
        }

        h1 {
            font-size: 20px;
            display: inline-block;
        }

        .button-wrap {
            justify-content: space-around;
            align-self: stretch;

            button {
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;


                max-width: 45%;

                mat-icon {
                    margin-left: 0;
                }


            }
        }

    }

    .form-section {
        padding: 1rem;

        form {
            max-width: 100%;

            .inputs {
                display: flex;
                align-items: center;
                justify-content: center;

                .title-input {
                    width: 100%;
                }

                .input-container {
                    width: 85%;
                }
            }
        }
    }

}

@media (max-width: 510px) {

    .button-wrap {
        button {
            .btn-text {
                display: none;
            }

        }
    }
}

mat-icon {
    cursor: pointer;
}

.currentImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 2rem 0;

    img {
        width: 150px;
        max-width: 90%;
        max-height: 150px;
        object-fit: contain;
        // height: auto;
        // object-fit: none;
    }
}

.btn-tag-wrapper {
    max-width: 95%;
    display: flex;
    justify-content: flex-end;
}

::ng-deep .mat-form-field-outline {
    background-color: white !important;
}