<section>
    <div class="header-container">
        <div class="title-wrap">
            <a href="" [routerLink]="['/restaurants']">
                <mat-icon>keyboard_backspace</mat-icon>
            </a>
            <h1 class="titles">{{isEdit ? 'Editar Platillo' : 'Nuevo Platillo'}}</h1>
        </div>
        <div class="button-wrap">
            <button class="btn-tag" (click)="openAddTagModal()" mat-raised-button
                style="background-color: #4caf50; color: white;">
                <mat-icon matPreffix style="color: white">add</mat-icon> <span class="btn-text">Agregar nuevo tag</span>
            </button>
            <button  [disabled]="validatingForm" mat-button (click)="validateForm()">
                <mat-icon>save</mat-icon>
                <span class="btn-text">Guardar</span>
            </button>
        </div>
    </div>

    <!-- <div class="btn-tag-wrapper">
        <button (click)="openAddTagModal()" mat-raised-button
        style="background-color: #4caf50; color: white;">
        <mat-icon matPreffix>add</mat-icon> Agregar nuevo tag
    </button>
    </div> -->


    <div class="form-section">
        <form action="" [formGroup]="dishesForm">

            <div class="inputs">
                <div class="title-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="name" type="text" matInput app>
                    </mat-form-field>
                    <div class="mat-error">
                        <div class="title-input"></div>
                            <p
                                *ngIf="(dishesForm.get('name')?.errors && dishesForm.get('name')?.touched) || (invalid && dishesForm.get('name')?.untouched)">
                                *Campo obligatorio
                            </p>
                        
                    </div>
                </div>
                

                <div class="title-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input formControlName="description" type="text" matInput>
                    </mat-form-field>
                    <div class="mat-error">
                        <div class="title-input">
                            <p
                                *ngIf="(dishesForm.get('description')?.errors && dishesForm.get('tags')?.touched) || (invalid && dishesForm.get('description')?.untouched)">
                                *Campo obligatorio
                            </p>
                        </div>
                    </div>
                </div>

                <div class="title-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Precio</mat-label>
                        <input formControlName="price" type="text" matInput currencyMask >
                    </mat-form-field>
                </div>

                <div class="title-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-select matInput formControlName="tags" multiple>
                            <div class="tagSelect" *ngFor="let tag of tags">
                                <mat-option [value]="tag.tag">{{tag.tag}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                    <div class="mat-error">
                        <div class="title-input">
                            <p
                                *ngIf="(dishesForm.get('tags')?.errors && dishesForm.get('tags')?.touched) || (invalid && dishesForm.get('tags')?.untouched)">
                                *Al menos un tag es requerido
                            </p>
                        </div>
                    </div>
                </div>

                <div class="title-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input formControlName="amount" type="number" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="dropzone-wrapper">
                <div class="currentImages">
                    <img *ngFor="let image of currentImages" [src]="image.path" alt="">
                </div>

                <div>
                    *La imagen es requerida (max 5mb)
                </div>

                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" [maxFileSize]="8000000"
                    (change)="onUploadImageListado($event)">
                    <ngx-dropzone-label style="flex: 0 0 100%;">
                        Seleccione o arrastre aquí un archivo
                    </ngx-dropzone-label>
                    <div style="margin: 0 auto !important; display: flex!important;">
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of urlFileListado"
                            [file]="f" [removable]="true" (removed)="onRemoveImageListado(f)">
                            <ngx-dropzone-label style="color: white; padding: 0 5px">
                                <!-- {{ f.name }} -->
                                <br /><br />
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                        [style.width]="(uploadProgress | async) + '%'"
                                        [attr.aria-valuenow]="uploadProgress | async" aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                                <div style="overflow: hidden; padding: 0.75px 1.25rem" *ngIf="urlImgListado"
                                    class="alert alert-info" role="alert">
                                    Listo
                                </div>
                            </ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
            </div>

        </form>

    </div>
</section>